---
title: '    Franklin Law'
call_to_action: Map
background_image_path:
large_header: false
testimonials:
  - message:
    image:
    name:
_options:
  image:
    width: 10
    height: 10
---

<div class="editable">
		<p>Franklin LLP is a strong law firm, with a wide area of expertise in Brooklyn. Our team have the knowledge and skills to get you results.</p>
	</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" " /> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
