---
title: &nbsp   Franklin Law
call_to_action: Advice
background_image_path:
large_header: false
testimonials:
  - message: >-
      Franklin Law is a law firm with everything we could have hoped for when
      buying our first home. Highly recommended to all.
    image:
    name: '- GPT-2'
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
		<p>Franklin LLP is a strong law firm, with a wide area of expertise in Brooklyn. Our team have the knowledge and skills to get you results.</p>
	</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}" /> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
